<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feed.sdk.push">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name="com.feed.sdk.push.FeedSDK">
        <receiver android:name=".activity.FeedSDKActionButton$ButtonReceiver">

        </receiver>
        <activity
            android:name=".activity.FeedSDKActionButton"
            android:exported="false" />
        <service
            android:name="com.feed.sdk.push.FeedMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="feedify_user"
            android:value="${feedify_user}" />

        <meta-data
            android:name="feedify_dkey"
            android:value="${feedify_dkey}" />

        <meta-data
            android:name="feedify_domain"
            android:value="${feedify_domain}" />

    </application>
</manifest>
